{% extends 'base.html.twig' %}

{% block title %}Person form{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="{{ app.request.getSchemeAndHttpHost() }}/libs/datetimepicker/css/bootstrap-datetimepicker.min.css"/>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6">

            {# templates/default/new.html.twig #}
            {% form_theme form 'bootstrap_3_layout.html.twig' %}

            {{ form(form) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() }}/libs/moment.min.js"></script>
    <script type="text/javascript"
            src="{{ app.request.getSchemeAndHttpHost() }}/libs/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script src="{{ app.request.getSchemeAndHttpHost() }}/js/create_person.js" ></script>
    {# todo - above javascript is not executed for some reason #}
    <script>
        $( document ).ready(function() {
            $('#person_dateOfBirth').datetimepicker({
                format: 'YYYY-MM-DD'
            });
        });
    </script>
{% endblock %}