{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
{% endblock %}


{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Details link</th>
                <th>Details ajax link</th>
                <th>Full name</th>
                <th>Phone number</th>
                <th>Email address</th>
                <th>Date of birth</th>
                <th>Uploaded file name</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td><a href="{{ path('details', {'id': person.id} ) }}">Details</a></td>
                    <td><a href="" class="details-ajax" data-id="{{ person.id }}">Details ajax</a></td>
                    <td>{{ person.fullName }}</td>
                    <td>{{ person.phoneNumber }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.dateOfBirth }}</td>
                    <td>{{ person.fileName }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="details-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Details</h4>
                </div>
                <div class="modal-body">
                    <p>Full name is <span id="modal-full-name"></span></p>
                    <p>Phone number is <span id="modal-phone-number"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
    <script src="{{ app.request.getSchemeAndHttpHost() }}/js/persons_list.js"></script>
{% endblock %}